<template>
  <div class="container">
    <div class="search-bar">
      <input class="search" type="text" v-model="search" placeholder="Search..." @keyup="e => debouncedSearch(e.target.value)">
      <span class="search-icon"><i class="fas fa-search"></i></span>
      <span class="clear"><i class="fas fa-times-circle"></i></span>
    </div>
    <Table>
      <Thead>
        <th @click="sortBy('fullName')">Full Name 
          <span>
            <span :class="sortDirection === 'asc' && sort === 'fullName' ? 'show' : 'hide'"><i class="fas fa-sort-down"></i></span>
            <span :class="sortDirection === 'desc' && sort === 'fullName' ? 'show' : 'hide'"><i class="fas fa-sort-up"></i></span>
          </span>
        </th>
        <th @click="sortBy('balance')">Balance
          <span :class="sortDirection === 'asc' && sort === 'balance' ? 'show' : 'hide'"><i class="fas fa-sort-down"></i></span>
          <span :class="sortDirection === 'desc' && sort === 'balance' ? 'show' : 'hide'"><i class="fas fa-sort-up"></i></span>
        </th>
        <th @click="sortBy('isActive')">Is Active
          <span :class="sortDirection === 'asc' && sort === 'isActive' ? 'show' : 'hide'"><i class="fas fa-sort-down"></i></span>
          <span :class="sortDirection === 'desc' && sort === 'isActive' ? 'show' : 'hide'"><i class="fas fa-sort-up"></i></span>
        </th>
        <th @click="sortBy('registered')">Registered
          <span :class="sortDirection === 'asc' && sort === 'registered' ? 'show' : 'hide'"><i class="fas fa-sort-down"></i></span>
          <span :class="sortDirection === 'desc' && sort === 'registered' ? 'show' : 'hide'"><i class="fas fa-sort-up"></i></span>
        </th>
        <th @click="sortBy('state')">State
          <span :class="sortDirection === 'asc' && sort === 'state' ? 'show' : 'hide'"><i class="fas fa-sort-down"></i></span>
          <span :class="sortDirection === 'desc' && sort === 'state' ? 'show' : 'hide'"><i class="fas fa-sort-up"></i></span>
        </th>
        <th @click="sortBy('country')">Country
          <span :class="sortDirection === 'asc' && sort === 'country' ? 'show' : 'hide'"><i class="fas fa-sort-down"></i></span>
          <span :class="sortDirection === 'desc' && sort === 'country' ? 'show' : 'hide'"><i class="fas fa-sort-up"></i></span>
        </th>
      </Thead>
      <Tbody>
        <tr v-for="item in dataToShow" :key="item.id">
          <td>{{ item.fullName }}</td>
          <td>{{ item.balance }}</td>
          <td>{{ item.isActive }}</td>
          <td>{{ item.registered | moment }}</td>
          <td>{{ item.state }}</td>
          <td>{{ item.country }}</td>
        </tr>
      </Tbody>
    </Table>

    <div class="p-holder">
      <div class="p-wrapper">
        <div v-if="first" class="first" @click="linkClicked(0, 0)">1...</div>
        <div :class="[link === currentLink ? 'active' : '', 'link']" v-for="link in numOfLinks" @click="linkClicked(link, (link-1) + changeLinks)" :key="link">{{ link +  changeLinks}}</div>
        <div v-if="last" class="last" @click="linkClicked(maxNumOfLinks, maxNumOfLinks - 1)">...{{ maxNumOfLinks }}</div>
      </div>

      <div class="showPerPage">
        <label for="showPerPage">Show per Page</label>
        <select name="showPerPage" id="" v-model="showPerPage" @change="createPagination()">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import { debounce, isEmpty } from 'lodash';
import moment from "moment";
import Table from './ui/Table';
import Thead from './ui/Thead';
import Tbody from './ui/Tbody';
// import Pagination from './ui/Pagination';

export default {
  name: 'TableData',
  data() {
    return {
      search: '', // search value
      showPerPage: 20, // default items per page
      debouncedSearch: () => {}, // function for debounced search
      sort: '',
      sortDirection: 'asc',
      tableData: [], // all data 
      searchedData: [], // filtered data
      dataToShow: [], // data for render

      numOfItems: 0, // for creating pagination

      // CLICKING ON PAGINATION
      maxLinksToShow: 10, // max number of links to show 
      maxNumOfLinks: 0, // max number of links
      numOfLinks: 0,  // num of currently showed links
			currentLink: 0, // current link style
			first: false, // last link if we are far enought from end
      last: false, // first link if we are far enought from start
      changeLinks: 0, // increase or decrease showed links
      lastClicked: false, // if is last link clicked
      changedNumGlobal: 0 // increase or decrease showed links
    }
  },
  props: {
    msg: String
  },
  methods: {
    getData() {
      return axios.get('https://fww-demo.herokuapp.com/');
    },
    //
    createNewData(data) {
      return data.map(n => {
        return n.state.map(v => {
          return v.users.map(g => {
            return {
              "country": n.country,
              "state": v.name,
              "fullName": g.fullName,
              "balance": g.balance,
              "registered": g.registered,
              "isActive": g.isActive
            }
          })
        })
      }).flat(2)
    },
    sortBy(sortParam) {
      // set sort direction
      if(this.sort === sortParam) {
        this.sortDirection === 'asc' ? this.sortDirection = 'desc' : this.sortDirection = 'asc';
      } else {
        this.sortDirection = 'asc';
      }
      let $this = this; 
      
      // function for sorting
      function compare(a, b) {
        if (a[sortParam] < b[sortParam]) {
          if($this.sortDirection === 'asc') {
            return -1;
          } else {
            return 1
          }
        }
        if (a[sortParam] > b[sortParam]) {
          if($this.sortDirection === 'asc') {
            return 1;
          } else {
            return -1
          }
        }
        return 0;
      }

      // sorting data
      this.searchedData = this.searchedData.sort(compare);
      this.tableData = this.tableData.sort(compare);
      
      // save sort direction globaly
      this.sort = sortParam;

      // create pagination depending of last clicked link
      if(this.lastClicked) {
        this.createPagination(this.numOfLinks, this.maxNumOfLinks - 1);

      } else {
        this.createPagination(this.currentLink, this.changedNumGlobal);
      }

    },
    searchData(search) {
      this.searchedData = this.tableData.filter(n => {
        // filtering data depend of matched column
        if (n.fullName.toLowerCase().includes(search.toLowerCase())) {
          return n.fullName.toLowerCase().includes(search.toLowerCase());

        } else if (n.balance.toLowerCase().includes(search.toLowerCase())) {
          return n.balance.toLowerCase().includes(search.toLowerCase());

        } else if (n.registered.toLowerCase().includes(search.toLowerCase())) {
          return n.registered.toLowerCase().includes(search.toLowerCase());

        } else if (n.state.toLowerCase().includes(search.toLowerCase())) {
          return n.state.toLowerCase().includes(search.toLowerCase());

        } else if (n.country.toLowerCase().includes(search.toLowerCase())) {
          return n.country.toLowerCase().includes(search.toLowerCase());

        } 
      });

      this.createPagination();
    },
    searchInput() {
      const clearIcon = document.querySelector(".clear");
      const searchBar = document.querySelector(".search");

      // colled event keyup
      searchBar.addEventListener("keyup", () => {
        if(searchBar.value && clearIcon.style.visibility != "visible") {
          // show clear icon
          clearIcon.style.visibility = "visible";
        } else if(!searchBar.value) {
          // hide clear icon
          clearIcon.style.visibility = "hidden";
        }
      });

      // click to clear icon to remove input search value
      clearIcon.addEventListener("click", () => {
        searchBar.value = "";
        clearIcon.style.visibility = "hidden";
        this.search = '';
        this.debouncedSearch('');
      });
    },
    createPagination(num = 0, changedNum = 0) {
      // create pagination depending of search has value
      if (this.search) {
        this.maxNumOfLinks = !isEmpty(this.searchedData) ? Math.ceil(this.searchedData.length/Number(this.showPerPage)) : 1;
        this.changeLinks = 0;
        // hide first additional first link in pagination
        this.first = false;
        // if there is more all links of max links to show, hidding last additional link
        if (this.maxNumOfLinks > this.maxLinksToShow) {
          this.last = false;
        }
      } else {
        this.maxNumOfLinks = Math.ceil(this.numOfItems/Number(this.showPerPage)) ? Math.ceil(this.numOfItems/Number(this.showPerPage)) : 1;
      }
      // set number of links depending of max number of links is bigger than max links to show
			if (this.maxNumOfLinks > this.maxLinksToShow) {
				this.numOfLinks = this.maxLinksToShow;
				this.last = true;
			} else {
        this.last = false;
        this.numOfLinks = this.maxNumOfLinks;
			}
      
      // call initially
			this.linkClicked(num, changedNum);
		},
    linkClicked(num, changedNum) {
      this.currentLink = num;
      this.lastClicked = false;
      // initial or click on first showed link
      if (num === 0) {
        if (this.maxNumOfLinks > this.maxLinksToShow) {
          this.first = false;
          this.last = true;
          this.changeLinks = 0;
        } 
        this.currentLink = 1;

      }
        // if is clicked to last showed link witch is not last at all 
      if (num === this.numOfLinks && (changedNum + 1) !== this.maxNumOfLinks && this.maxNumOfLinks > this.maxLinksToShow) {
        this.changeLinks += (this.maxLinksToShow - 2);
        this.currentLink = num - (this.maxLinksToShow - 2);
        // if the biggest link to show, surpasses max number of links we need cut this value
        if ((this.changeLinks + num) > this.maxNumOfLinks) {
          this.changeLinks = this.maxNumOfLinks - this.maxLinksToShow;
          this.currentLink = this.maxLinksToShow
          this.last = false;
          changedNum = this.maxNumOfLinks - 1;
          this.lastClicked = true;
          // if increase links is equal to max number of links 
        } else if ((this.changeLinks + num) === this.maxNumOfLinks) {
          this.last = false;
        }

        this.first = true;
        // if is clicked to smallest showed link shitch is not first
      } else if (num === 1 && this.changeLinks !== 0) {
        this.changeLinks -= (this.maxLinksToShow - 2);
        this.currentLink = num + (this.maxLinksToShow - 2);
        // if we come close enought to begin
        if (this.changeLinks < (this.maxLinksToShow - 2)) {
          this.changeLinks = 0;
          this.first = false;
        }
        this.last = true;
        // if is clicked on last additional link
      } else if (num === this.maxNumOfLinks && this.maxNumOfLinks > this.maxLinksToShow) {
        this.first = true;
        this.last = false;
        this.changeLinks = this.maxNumOfLinks - this.numOfLinks;
        this.currentLink = this.numOfLinks;
        this.lastClicked = true;
        // if is clicked to last showed link
      } else if (num === this.maxLinksToShow && changedNum === this.maxNumOfLinks - 1) {
        this.lastClicked = true;
        this.last = false;
        this.first = true;
        this.currentLink = num;

      } else if (this.maxNumOfLinks < this.maxLinksToShow) {
        this.changedNumGlobal = changedNum;
      }
      // start point to slice
      let beginIndex = changedNum * this.showPerPage;
      // slice data depending of search value is not empty
      if (this.search) {
        this.dataToShow = this.searchedData.slice(beginIndex, beginIndex + Number(this.showPerPage));
        
      } else {
        this.dataToShow = this.tableData.slice(beginIndex, beginIndex + Number(this.showPerPage));
      }
    }
  },
  filters: {
    moment: function (date) {
      return moment.utc(date).local().format('DD. MMM YYYY.')
    }
  },
  mounted() {
    this.getData()
    .then(async (r) => {
      this.tableData = await this.createNewData(r.data);
      this.searchedData = this.tableData;
      this.numOfItems = this.tableData.length;
      console.log('RRRRR:', this.searchedData); 
      this.createPagination();
    });

    this.searchInput();
    this.debouncedSearch = debounce(this.searchData, 500)
  },
  components: {
    Table,
    Thead,
    Tbody,
    // Pagination
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  max-width: 1080px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* SEARCH */
.search-bar {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 20px;
}
.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: #f5f5f5;    
}
.search:hover, .search:focus {
  border: 1px solid #009688;
  background-color: white;
  }
.search-icon {
  display: block;
  position: absolute;
  top: 10px;
  left: 8px;
  width: 14px;
  }
.clear {
  display: block;
  position: absolute;
  top: 10px;
  right: 8px;
  cursor: pointer;
  visibility: hidden;
  }

/* TABLE */
th:hover {
  cursor: pointer;
}
.show {
  display: inline-block;
}
.hide {
  display: none;
}


/* PAGINATION */
.p-holder {
		position: relative;
		width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	}
	.p-wrapper {
		display: flex;
		justify-content: start;
	}
	.link {
		padding: 8px;
	}
  .first, .last {
    padding: 8px;
  }
  .first:hover, .last:hover {
    cursor: pointer;
  }
  .active {
    background-color: #dbdbdb;
  }
  .link:hover {
    cursor: pointer;
  }
  .showPerPage {
    display: grid;
  }
  .showPerPage label {
    font-size: 10px;
    color: #858585;
    text-align: left;
  }
  .showPerPage select {
    width: 100px;
    padding: 5px;
  }
  .showPerPage select option {
    padding: 5px !important;
  }
</style>
