<template>
	<div class="table-wrapper">
		<table>
			<slot></slot>
		</table>
	</div>
</template>

<script>
    export default {

    }
</script>

<style>
.table-wrapper {
	overflow-x: auto;
	width: 100%;
	
}
	table {
		border-collapse: collapse;
		width: 100%;
		white-space: nowrap;
	}
</style>