<template>
  <tbody>
      <slot></slot>
  </tbody>
</template>

<script>
export default {

}
</script>

<style>
  tbody {
    border-collapse: collapse;
    width: 100%;
  } 
  tbody tr:nth-child(odd) {
    background-color: #f0f0f0;
  }
  tbody td {
    padding: 1.2rem;
    text-align: left;
    border: 1px solid #d1d1d1;
  }
</style>